<div class="col-sm-12">   
    <h3>Shopping Cart</h3>
    <% if(cartitems.length>0) {%>
    <table class="table table-hover" id="tblProducts" border="1">
    <tr>
            <thead>                 
                <th width="40%">Name</th>                
                <th width="8%">Price(INR)</th>
                <th width="5%">Quantity</th>
                <th width="*">Total</th>                  
            </thead>
            <tbody>
            <% for (var i=0;i<cartitems.length;i++){ %>
            <tr>
                <td>
                    <% if (username.length>0){%>
                        <button type="button" id='<%- cartitems[i]._id %>' name="removefromCart" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-remove"></span></button>
                    <%}%>&nbsp;
                <label id="trackname"><%= cartitems[i].trackname%></label>&nbsp;</td>
                <td><label id="unitprice" name="unitprice"><%= cartitems[i].unitprice%></label>&nbsp;</td>
                <td><input type="number" class="qty" name="quantity" min="1" id="quantity" value="<%= cartitems[i].quantity%>"/></td>    
                <td><label class="subtot" readonly id="subtotal" name="subtotal"></label></td>                            
            </tr>            
            <% } %>
            <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td><label class="grdtot" readonly id="grandtotal" name="grandtotal"></label></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><input type="button" value="Checkout"/></td>
            </tr>
    </tbody>
    </table> 
    <script>
        $(document).ready(function(){                     
            $('button[name=removefromCart]').on('click',function(){                  
                var trackId=$(this).attr('id'); 
                var username='<%=username%>';                   
                $.ajax({
                    type: 'DELETE',
                    url:  '/cart/' + trackId,
                    success: function(data){
                        window.location='/cart?username=<%=username%>';
                    }   
                });  
                return false;
            });      
            var $tblrows = $("#tblProducts tbody tr");
            $tblrows.each(function (index) {
                var $tblrow = $(this);                
                    var qty = $tblrow.find("[name=quantity]").val();
                    var price = $tblrow.find("[name=unitprice]").text();
                    var subTotal = parseInt(qty, 10) * parseFloat(price);
                    if (!isNaN(subTotal)) {
                        $tblrow.find('.subtot').text(subTotal.toFixed(2));
                        var grandTotal = 0;
                        $(".subtot").each(function () {
                            var stval = parseFloat($(this).text());
                            grandTotal += isNaN(stval) ? 0 : stval;
                        });
                        $('.grdtot').text(grandTotal.toFixed(2));
                    }                
                $tblrow.find('.qty').on('change', function () {
                    var qty = $tblrow.find("[name=quantity]").val();
                    var price = $tblrow.find("[name=unitprice]").text();
                    var subTotal = parseInt(qty, 10) * parseFloat(price);
                    if (!isNaN(subTotal)) {
                        $tblrow.find('.subtot').text(subTotal.toFixed(2));
                        var grandTotal = 0;
                        $(".subtot").each(function () {
                            var stval = parseFloat($(this).text());
                            grandTotal += isNaN(stval) ? 0 : stval;
                        });
                        $('.grdtot').text(grandTotal.toFixed(2));
                    }
                });
            });
        });
    </script>   
    <%}
    else{%>
    </br>
        <h4>Your shopping cart is empty!</h4>
    <%}%>
</div>